<div class="container" fxLayout="column" fxFlex>
    <mat-card fxFlex fxLayout="column">
        <mat-toolbar color="primary" style="height: 100px;">
            <span class="text-page"><strong>หญ้าขาว คาเฟ่ Hyakhaw Cafe'</strong></span>
        </mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div fxFlex="50" fxLayout="column">
                <mat-card fxLayoutAlign="center center"><img fxFlex="100"
                        src="../../../../assets/Photo/cafe9/cafe9.1.png"></mat-card>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxFlex="25" fxLayout="row">
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe9/cafe9.2.png"></mat-card>
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe9/cafe9.3.png"></mat-card>
                </div>
                <div fxFlex="25" fxLayout="row">
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe9/cafe9.4.png"></mat-card>
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe9/cafe9.5.png"></mat-card>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="50">
            <mat-card>
                <div fxLayout="column">
                    <mat-toolbar color="primary">
                        <span><strong>รายละเอียดเกี่ยวกับค่าเฟ่</strong></span>
                    </mat-toolbar>
                    <div>
                        <p><strong class="detail-Pros">จุดเด่น</strong></p>
                        <p>
                            คาเฟ่สีขาวในทุ่งหญ้าท่ามกลางบรรยากาศสุดชิล 'หญ้าขาว ค่าเฟ่'
                            คาเฟ่ที่ถูกโอบล้อมไปด้วยธรรมชาติให้ความรู้สึกผ่อนคลายและสบายตาเมื่อมาถึง
                            ทางร้านถูกตกแต่งอย่างเรียบง่าย ซึ่งคาเฟ่แห่งนี้มีทั้งโซน indoorและout door
                            ให้เลือกนั่งได้ตามใจชอบและมีมุมเก๋ๆ ให้ถ่ายรูปมากมาย
                            สำหรับอาหารและเครื่องดื่มของทางร้านก็มีให้บริการ เช่น ขนมทานเล่นยอดฮิตอย่าง Tom & Jerry
                            Cheesecakeหรือว่าจะเป็น Passion Fruit Yogurt Smoothie
                            เครื่องดื่มเพื่อเพิ่มความสดชื่นอีกทั้งยังมีเมนูอื่นๆให้เลือกทานอีกมากมายเลยค่ะ
                            ใครที่เป็นสายธรรมชาติและอยากนั่งชิลล์จิบกาแฟท่ามกลางหญ้าสีขาวอย่างสบายตาอย่าลืมแวะมากันนะคะ
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">วันเวลา เปิด-ปิด</strong></p>
                        <p>
                            เปิดวันจันทร์ - พฤหัสบดี 07:00-18.00น.  วันศุกร์ - อาทิตย์  07:00-19:00น.
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">เบอร์โทรติดต่อ</strong></p>
                        <p>
                            092-2674426
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">ตั้งอยู่ที่</strong></p>
                        <p>
                            338 หมู่ 12, ตำบลบางภาษี อำเภอบางเลน นครปฐม
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">Map Location</strong></p>
                        <button mat-raised-button color="accent" (click)="openMap()">Open Google Map</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>