<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Cafe List</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="cafe"><strong>หน้าแรก</strong></a>
      <a mat-list-item href="cafe/cafe1">โคตรหมูริมน้ำ</a>
      <a mat-list-item href="cafe/cafe2">แซ่บนัว ครัวบ้านนาศาลายา</a>
      <a mat-list-item href="cafe/cafe3">Lemon Tree café</a>
      <a mat-list-item href="cafe/cafe4">Memory House Cafe สามพราน</a>
      <a mat-list-item href="cafe/cafe5">คาเปเดี้ยม</a>
      <a mat-list-item href="cafe/cafe6">Gokotta coffee roaster</a>
      <a mat-list-item href="cafe/cafe7">April Flavors café</a>
      <a mat-list-item href="cafe/cafe8">Bliss Eatery</a>
      <a mat-list-item href="cafe/cafe9">หญ้าขาว คาเฟ่ Hyakhaw Cafe'</a>
      <a mat-list-item href="cafe/cafe10">Family Garden</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NakhonPathomCafe</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
