<div class="container" fxLayout="column" fxFlex>
    <mat-card fxFlex fxLayout="column">
        <mat-toolbar color="primary" style="height: 100px;">
            <span class="text-page"><strong>Lemon Tree café</strong></span>
        </mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div fxFlex="50" fxLayout="column">
                <mat-card fxLayoutAlign="center center"><img fxFlex="100"
                        src="../../../../assets/Photo/cafe3/cafe3.1.png"></mat-card>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxFlex="25" fxLayout="row">
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe3/cafe3.2.png"></mat-card>
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe3/cafe3.3.png"></mat-card>
                </div>
                <div fxFlex="25" fxLayout="row">
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe3/cafe3.4.png"></mat-card>
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe3/cafe3.5.png"></mat-card>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="50">
            <mat-card>
                <div fxLayout="column">
                    <mat-toolbar color="primary">
                        <span><strong>รายละเอียดเกี่ยวกับค่าเฟ่</strong></span>
                    </mat-toolbar>
                    <div>
                        <p><strong class="detail-Pros">จุดเด่น</strong></p>
                        <p>
                            Lemon Tree Cafe คาเฟ่ริมน้ำ สามพรานเป็นอีกหนึ่งร้านคาเฟ่และร้านอาหารที่บรรยากาศร่มรื่น
                            เพราะมีสระน้ำสีเขียวมรกตตั้งอยู่ตรงกลางของร้านและทางร้านมี
                            2โซนด้วยกันคือโซนห้องแอร์ที่สามารถทานอาหารหรือจิบกาแฟได้แบบเย็นสบาย
                            หรือถ้าใครชอบบรรยากาศแบบสบายๆ ลมเย็นๆ
                            ในส่วนด้านนอกก็มีทำเลให้นั่งหลายโซนทั้งโซนแพริมน้ำด้านหน้า และแพริมน้ำด้านใน
                            มีซุ้มถ่ายรูปสวยๆ และชิงช้าให้ได้ถ่ายรูปกัน ซึ่งสไตล์ในการตกแต่งร้านจะเต็มไปด้วยเบาะสีเหลือง
                            ซึ่งทำให้ตัวร้านLemon Tree Cafeดูมีสีสันที่สดใสและน่ารักมากยิ่งขึ้นค่ะ
                            สำรับเมนูอาหารเครื่องดื่มก็มีให้เลือกหลากหลายรายการ
                            อีกทั้งยังมีเรือให้ลูกค้าพายเล่นได้ด้วยนะคะ
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">วันเวลา เปิด-ปิด</strong></p>
                        <p>
                            วันจันทร์- อาทิตย์ 9.00–21.30 น
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">เบอร์โทรติดต่อ</strong></p>
                        <p>081-4054499</p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">ตั้งอยู่ที่</strong></p>
                        <p>นอกเขตผังเมืองรวม, ตำบล บางเตย อำเภอสามพราน นครปฐม</p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">Map Location</strong></p>
                        <button mat-raised-button color="accent" (click)="openMap()">Open Google Map</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>