<div class="container" fxLayout="column" fxFlex>
    <mat-card fxFlex fxLayout="column">
        <mat-toolbar color="primary" style="height: 150px;">
            <span class="text-page"><strong>April Flavors café</strong></span>
        </mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div fxFlex="50" fxLayout="column">
                <mat-card fxLayoutAlign="center center"><img fxFlex="100"
                        src="../../../../assets/Photo/cafe7/cafe7.1.png"></mat-card>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxFlex="25" fxLayout="row">
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe7/cafe7.2.png"></mat-card>
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe7/cafe7.3.png"></mat-card>
                </div>
                <div fxFlex="25" fxLayout="row">
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe7/cafe7.4.png"></mat-card>
                    <mat-card><img fxFlex="100" src="../../../../assets/Photo/cafe7/cafe7.5.png"></mat-card>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="50">
            <mat-card>
                <div fxLayout="column">
                    <mat-toolbar color="primary">
                        <span><strong>รายละเอียดเกี่ยวกับค่าเฟ่</strong></span>
                    </mat-toolbar>
                    <div>
                        <p><strong class="detail-Pros">จุดเด่น</strong></p>
                        <p>
                            April Flavors Cafe คาเฟ่สีขาวสไตล์มินิมอล
                            ตัวคาเฟ่ถูกแบ่งเป็น2โซนด้วยกันคือโซนindoorและโซนopen air ซึ่งส่วนindoor
                            จะถูกตกแต่งแบบเรียบง่ายด้วยโต๊ะ-เก้าอี้สไตล์เกาหลี มีมุมถ่ายรูปให้เลือกมากมาย ส่วนโซนopen
                            air
                            ถูกต้องแต่งสไตล์ปิกนิกมีต้นส้มรายล้อมอยู่รอบๆได้ฟีลเหมือนมานั่งปิกนิกในสวนส้มเลยพร้อมมีพร็อพคิ้วท์ๆๆให้เราได้หยิบมาถ่ายรูปกันด้วยค่ะ
                            ส่วนโซนด้านนอกจะเป็นริมน้ำที่สามารถมานั่งให้อาหารปลาหรือลงไปพายเรือเล่นได้ค่ะ
                            สำหรับอาหารที่นี่ก็อร่อยและแปลกใหม่ไม่แพ้ร้านอื่นเลยก็คือข้าวคลุกพริกเกลือที่ถือได้ว่าเป็นเมนูซิกเนเจอร์ที่ใครมาแล้วก็ต้องลิ้มลองความอร่อยค่ะ
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">วันเวลา เปิด-ปิด</strong></p>
                        <p>
                            วันอังคาร-อาทิตย์ 9.00–18.00 น. ปิดวันจันทร์
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">เบอร์โทรติดต่อ</strong></p>
                        <p>
                            090-2683999
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">ตั้งอยู่ที่</strong></p>
                        <p>
                            95/1 หมู่2 ถนน คลองใหม่ อำเภอสามพราน นครปฐม
                        </p>
                    </div>
                    <div>
                        <p><strong class="detail-Pros">Map Location</strong></p>
                        <button mat-raised-button color="accent" (click)="openMap()">Open Google Map</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>